%p
  %label{:for => "group_name"} Name:
  = f.text_field :name
%p
  %label{:for => "group_person_id"} Person:
  = f.text_field :person_id
%p
  %label{:for => "group_city"} City:
  = f.text_field :city
%p
  %label{:for => "group_state"} State:
  = f.text_field :state
%p
  %label{:for => "group_zip"} Zip:
  = f.text_field :zip
%p
  %label{:for => "group_active"} Active:
  = f.check_box :active
