%h1 Listing groups

%table.DataList
  %tr
    %th.first Name
    %th Organized By
    %th Location
  - @groups.each do |group|
    %tr{:class => cycle('even','odd') }
      %td.first= link_to group.name, object_url(group)
      %td= h "#{group.organizer.first_name} #{group.organizer.last_name}"
      %td= h "#{group.city}, #{group.state}"

%p.NewAction= link_to 'New group', new_object_url